* {box-sizing: border-box;}
table {width: 100%;}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
#t01 th {
    background-color:#080808c5;
    color: rgb(255, 255, 255);
}
.card {
    border: black;
    width: 22%;
    margin: 0 0 30px 30px;
    display: inline-block;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
}
.card-title {
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.img-card {border-radius: 90px;}
@media screen and (max-width: 600px) {
    .card {
      width: 90%;
      margin-left: 25px;
      display: block;
      margin-bottom: 20px;
    }
}
.add-form {
    background-color: rgb(105, 105, 105);
    padding: 15px;
    background-color: #eeeeee7e;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    width: 100%;
}
.add-form-fields{
    width: 100%;
	background: #FAFAFA;
	border-radius: 0.3rem;
	border: 1px solid #8b8b8b4b;
    outline: none;
}
.add-form-fields:focus{
	box-shadow: 0 0 5px #6ab7e0;
	border:1px solid #66a3c4;
    list-style:none;
}
.total_amount {
    background-color: #383838;
    color: rgb(255, 255, 255);
    width: 15%;
}
.total_amount_text {
    font-size: 17px;
    padding: 5px;
}