* {box-sizing: border-box;}
.button {
    background-color: #990a0a;
    border: none;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.3rem;
}
    
table {
    width:100%;
}
h3 {
    color: crimson;
    text-align: center;
    }
th, td {
    padding: 15px;
    text-align: center;
    }
#t01 tr:nth-child(even) {
    background-color: #eee;
    }
#t01 tr:nth-child(odd) {
    background-color:#eee;
    }
#t01 th {
    background-color:#353535;
    color: white;
    }
#upload {
    width: auto;
    background-color: #353535;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}
.card {
    border: black;
    width: 22%;
    margin: 0 0 30px 30px;
    display: inline-block;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
}
.card-title {
    overflow:hidden;
    text-overflow: ellipsis;
    word-break: break-all;

}
.img-card {
    border-radius: 90px;
}

@media screen and (max-width: 600px) {
    .card {
      width: 90%;
      margin-left: 25px;
      display: block;
      margin-bottom: 20px;
    }
  }
.add-form {
    background-color: rgb(105, 105, 105);
    padding: 15px;
    background-color: #eeeeee7e;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    width: 100%;
}
.add-form-fields{
    width: 100%;
	background: #FAFAFA;
	border-radius: 0.3rem;
	border: 1px solid #8b8b8b4b;
    outline: none;
}
.add-form-fields:focus{
	box-shadow: 0 0 5px #6ab7e0;
	border:1px solid #66a3c4;
    list-style:none;
}