{% extends 'base.html' %}
{% block content %}
<div class="container">
  <form style="width: 100%;" method="POST" enctype="multipart/form-data" accept="image/*" multiple>
    {{form.hidden_tag() }}
     <p>
      {{ form.title.label(class_='form-label') }}<br>
      {{ form.title(class_='product-form') }}
    </p>
    <p>
      {{ form.short_desc.label(class_='form-label') }}<br>
      {{ form.short_desc(class_='product-form') }}
    </p>
    <span style="margin-left: 20px;">
      {{ form.price.label(class_='form-label')  }} 
      {{ form.price(class_='form-price')}}
    </span>
    <span style="margin-left: 20px;">
      {{ form.discounted.label(class_='form-label')  }}
      {{ form.discounted(class_='form-price')}}
    </span>
    <span>
      {{ form.inventory.label(class_='form-label')  }}
      {{ form.inventory(class_='form-inventory') }}
    </span>
    <p>
      <br>
      {{ form.category.label(class_='form-label') }}<br>
      {{ form.category(class_='form-category') }}<br>
      <a href="{{ url_for('add_category') }}">دسته بندی جدید</a>
      <br>
    </p>
    <p>
      {{ form.desc.label(class_='form-label') }}<br>
      {{ form.desc(class_='product-form') }}
    </p>
    <p>
      {{ form.photo.label(class_='form-label')}} <br>
      {{ form.photo(class_='product-form')}}
    </p>
    <p>
      {{ form.photos.label(class_='form-label')}}<br>
      {{ form.photos(class_='product-form')}}<br>
    </p>
        <button style="width: 70%;" type="submit" class="btn btn-primary">ذخیره محصول</button>
      </form>
</div><br>
{% endblock %}