{% extends 'base.html' %}
{% block header %}سبد خرید{% endblock %}
{% block content %}
<table>
  <tr>      
    <th></th>
    <th>محصول</th>
    <th>قیمت</th>
    <th>تعداد</th>
    <th>جمع قیمت</th>
  </tr>
  {% set total = [] %}
  {% for i,a in zip(p,c) %}
  <tr>
    <td>
      <a name='delete' href="{{url_for('delete_cart', id=i.id)}}">
        <i class="material-icons" style="color:red">remove_circle</i></a>
    </td>
    <td style="text-align: right;">
      <img class="card-img-top" src="{{i.photo}}" style="width:80px;height:80px;padding:5px;"> 
      <span style="padding:10px">{{i.title}}</span>
    </td>
    {% if not i.discounted %}
    <td>{{ '{0:,}'.format(i.price) }} تومان</td>
    {% else %}
    <td>{{ '{0:,}'.format(i.discounted) }} تومان</td>
    {% endif %}  
    <td>
      <a href="{{url_for('add_num', id=i.id)}}" class="btn btn-primary" >+</a>
      {{ a.number }} عدد
      <a href="{{url_for('reduce_num', id=i.id)}}" class="btn btn-primary" >-</a>
    </td>
    <td>
      {% if not i.discounted %}
      {% set amount =  a.number * i.price %}
      {% else %}
      {% set amount =  a.number * i.discounted %}      
      {% endif %}  
      {{ '{0:,}'.format(amount) }} تومان
    </td>
      {% set _ = total.append(amount) %}
      {% endfor %}
  </tr>
</table>
<a style="color: aliceblue;" class="btn btn-info">
  <b>مبلغ نهایی: {{ '{0:,}'.format(total | sum()) }} تومان</b></a>
<a href="{{url_for('final_amount')}}" class="btn btn-success" >تسویه حساب</a>
{% endblock %}