{% extends 'base.html' %}
{% block content %}
<!-- left column -->
<div class="checkout-left-column-container" >
    <h4 style="text-align: center;">سفارش شما</h4>
    {% for i,p in zip(p,c) %}
    <hr>
    <img src="{{ url_for('static', filename=i.photo)}}" class="checkout-left-column-img">
    <span style="float: right;"><b>{{p.number}} x</b> {{i.title}} </span>
    <b>{{'{0:,}'.format(p.amount | int)}}</b> تومان
    {% endfor %}
    <hr>
    <span class="checkout-left-column-price">مبلغ کل: <b>{{'{0:,}'.format(c[-1].total | int)}}</b> تومان</span>
</div>
<!-- user information form -->
<form method="POST" enctype="multipart/form-data" action="/payment" class="checkout-form">
    {{ form.hidden_tag() }}
    <div class="form-row" >
    <div class="form-group col-md-12">
        {{ form.name.label }}
        {{ form.name(class_='form-fields')}}
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12">
        {{ form.city.label }}
        {{ form.city(class_='form-fields')}}
    </div>
    <div class="form-group col-md-12">
        {{ form.address.label }}
        {{ form.address(class_='form-fields')}}
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12">
        {{ form.phone.label }}
        {{ form.phone(class_='form-fields')}}
    </div>
    <div class="form-group col-md-12">
        {{ form.email.label }}
        {{ form.email(class_='form-fields') }}<br>
    </div>
    <div class="form-group col-md-12">
        <p>روش پرداخت: </p>
        {{ form.payment }}
    </div>
    </div>
    <button style="width:100%;margin-bottom:20px;" type="submit" class="btn btn-primary">ثبت سفارش</button>
</form>
{% endblock %}
