{% extends 'base.html' %}
<h1>{% block title %}Products{% endblock %}</h1>
{% block header %}Products{% endblock %}
<div class="container">
{% block content %}
<div style="width:100%; margin: 20px;">
  <form method="get">
      <button class="btn btn-primary" type="submit" 
      formaction="{{url_for('popular')}}">Most Popular
      </button>
      <button class="btn btn-primary" type="submit" 
      formaction="{{url_for('sold')}}">Most Sold
      </button>
      <button class="btn btn-primary" type="submit" 
      formaction="{{url_for('expensive')}}">Most Expensive
      </button>
      <button class="btn btn-primary" type="submit" 
      formaction="{{url_for('cheapest')}}">Cheapest
      </button> 
      <button class="btn btn-primary" type="submit" 
      formaction="{{url_for('newst')}}">Newst
      </button>
      <button class="btn btn-info" type="submit" 
      formaction="{{ url_for('filter_products') }}">Advanced Filter
      </button>
</div>
{% for p in keyword %}
<div class="card">
  <img class="img-card" src={{ p.photo }} style="width: 180px; height: 180px;">
  <div class="card-body">
    <h5 class="card-title">{{ p.title }}</h5>
    {% if not p.discounted %}
    <p><b>Discounted: -------- </p></b>
    <p style="color: red;"><b>Price: ${{p.price}}</p></b>
    {% else %}
    <p><b><del>Price:${{p.price}}</del></p></b>
    <p style="color: red;"><b>Discounted: ${{p.discounted}}</p></b>
    {% endif %}
    <a href="{{url_for('cart', id=p.id)}}" class="btn btn-primary">Add To Cart</a>
    <a href="{{url_for('product_detail', id=p.id)}}" class="btn btn-primary">Details</a>
  </div>
    <a href="{{ url_for('reduce_rate', id=p.id) }}">
    <span style="font-size: 20px;"class="material-icons">&#xe8db;</span></a>
  &nbsp; {{p.rate}} &nbsp; 
  <a href="{{ url_for('add_rate', id=p.id) }}">
    <span style="font-size: 20px;"class="material-icons">&#xe8dc;</span></a>
</div>
{% endfor %}
{% endblock %}
</div>