{% extends 'base.html' %}
{% block header %}محصولات{% endblock %}
<div class="container">
{% block content %}
<body style="background: #f0f2f5;text-align:right;">
<div class="filter-buttons">
  <form method="get">
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('popular_filter')}}">محبوبترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('sold_filter')}}">پر فروشترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('expensive_filter')}}">گرانترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('cheapest_filter')}}">ارزانترین
    </button>
    <button class="btn btn-primary" type="submit"
    formaction="{{url_for('newst_filter')}}">جدیدترین
    </button>
    <!-- <button class="btn btn-info" type="submit"
    formaction="{{ url_for('filter_products') }}">فیلتر پیشرفته
    </button> -->
</div>
{% for p in keyword %}
<div class="card" style="width: 18rem;margin-bottom:10px;">
  <img class="img-card" src="{{p.photo}}">
  <div class="card-body">
    <h5 class="card-title">{{p.title}}</h5>
    {% if p.inventory == 0 %}
     <b><p style="color:#e02926;">موجود نیست</p></b>
    {% else %}
    {% if not p.discounted %}
    <p></p>
    <!-- regular price -->
    <p style="color:#e02926;"><b> {{'{0:,}'.format(p.price|int)}} تومان</b></p>
    {% else %}
    <!-- discounted price -->
    <p style="color:#e02926;"><b>{{'{0:,}'.format(p.discounted|int)}} تومان</b></p>
    {% endif %}
    {% endif %}
    <!-- add to cart icon -->
    <a style="padding: 3px;" href="{{url_for('cart', id=p.id)}}" class="btn btn-primary">
      <i style="padding: 5px;" class="material-icons">&#xe854;</i></a>
    <!-- details button -->
    <a href="{{url_for('product_detail', id=p.id)}}" class="btn btn-primary" style="padding: 9px;">مشاهده</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
