{% extends 'base.html' %}
<h1>{% block title %}ورود {% endblock %}</h1>
{% block header %}ورود{% endblock %}
{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-md-4">
        <div class="add-form">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <p>
              {{ form.email.label }}<br>
              {{ form.email(class_='add-form-fields') }}<br>
            </p>
            <p>
              {{ form.password.label }}<br>
              {{ form.password(class_='add-form-fields')}}<br>
            </p>
          </div>
          <button style="width: 100%;" type="submit" class="btn btn-primary">تائید</button>
        </form> <br>
        <span>عضو نیستید؟</span> <a href="{{ url_for('register') }}">برای ثبت نام کلیک کنید</a>
      </div>
    </div>
  </div><br>
{% endblock %}