{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}
{% block content %}

<table id="t01">
    <tr>
        <th>sold</th>
        <th>inventory</th>
        <th>discunted price</th>
        <th>price</th> 
        <th>title</th>
        <th>photo</th>
        <th></th>
    </tr>
    {% if products %}
    {% for pic in products %}   
    <tr>
        {% if pic.sold is none %}
        <td>0</td>
        {% else %}
        <td>{{ pic.sold }}</td>
        {% endif %}  
      <td>{{ pic.inventory }}</td>
      <td>{{pic.price}}</td>
      <td>{{ pic.discunted}}</td>
      <td>{{pic.title}}</td>
      <td>
        <img class="card-img-top" src="data:;base64,{{pic.rendered_data}}" 
            style="width: 80px; height: 80px;"> 
      </td>
      <td>
        <form action="{{url_for('delete', id=pic.id)}}" method="POST">
        <input type="submit" value="Delete" name="delete"  class="button">
      </td>
    {% endfor %}
    {% else %}
    </tr>
</table>
<h3>There is no product!</h3>
{% endif %}
{% endblock %}
