{% extends 'base.html' %}
<h1>{% block title %}مدیریت محصولات{% endblock %}</h1>
{% block header %}مدیریت محصولات{% endblock %}
{% block content %}
<table >
    <tr>
      <th></th>
      <th>محصول</th>
      <th>قیمت</th> 
      <th>قیمت با تخفیف</th>
      <th>موجودی</th>
      <th>فروخته شده</th>
    </tr>
    {% for pic in products %}   
    <tr>
      <td>
        <a name='delete' href="{{url_for('delete', id=pic.id)}}" class="btn btn-danger"> حذف </a>
      </td>
      <td style="text-align: right;">
        <img class="card-img-top" src="{{pic.photo}}" style="width: 70px; height: 70px;"> 
        <span style="padding:10px">{{pic.title}}</span>
      </td>
      <td>{{ '{0:,}'.format(pic.price | int) }} تومان</td>
      {% if pic.discounted  %}
      <td>{{ '{0:,}'.format(pic.discounted | int) }} تومان</td>
      {% else %}
      <td> - - - </td>
      {% endif %}
      <td>{{pic.inventory}} عدد</td>
      <td>{{pic.sold}} عدد</td>
    {% endfor %}
    </tr>
</table>
{% endblock %}