{% extends 'base.html' %}
{% block header %}جزئیات سفارش{% endblock %}
{% block content %}
<table >
    <tr>      
        <th>محصول</th>
        <th>تعداد</th>
        <th>قیمت</th>
        <th>جمع قیمت</th>
    </tr>
    {% for p,i in zip(product, number) %} 
    <tr>
        <td style="text-align: right;">
            <img class="card-img-top" src="{{p.photo}}" style="width: 40px; height: 40px;"> 
            {{p.title}}
        </td>
        <td>
        {{i}} عدد
        </td>
        <td>
            {% if p.discounted %}
            {{'{0:,}'.format(p.discounted)}} تومان
            {% else %}
            {{ '{0:,}'.format(p.price)}} jتومان
            {% endif %}
        </td>
        <td>
            {% if p.discounted %}
            {% set total = i * p.discounted %}
            {% else %}
            {% set total = i * p.price %}
            {% endif %}
            {{'{0:,}'.format(total)}} تومان
        </td>
    </td>
    {% endfor %}
</tr>
</table>
<div class="user-info" dir="rtl">
    <a style="float: left;"><b>مبلغ کل :{{'{0:,}'.format(o.total)}} تومان </b></a>
<br>
<hr>
<p>
       <b>روش پرداخت :</b>
       {{o.payment_method}}
   </p>
   <p>
       <b>وضعیت پرداخت :</b>
       {{o.status}}
    </p>
    <p>
        <b>تاریخ ثبت پرداخت:</b>
   </p>
   <p>
    <b>تاریخ تکمیل پرداخت:</b>
    </p>
    <hr>
       <p>نام و نام خانوادگی: {{o.name}}</p>
       <p>کشور : {{o.country}}</p>
       <p>شهر : {{o.city}}</p>
       <p>آدرس : {{o.address}}</p>
       <p>تلفن: {{o.phone}}</p>
       <p>ایمیل: {{o.email}}</p>
</div>
<br>
{% endblock %}