{% extends 'base.html' %}
{% block header %}لیست سفارشات{% endblock %}
{% block content %}
{% if orders %}
<table >
    <tr>
        <th>سفارش</th>
        <th>وضعیت</th>
        <th>تاریخ ایجاد سفارش</th>
        <th>جمع کل</th>
    </tr>
    {% for i,o in zip(users,orders) %}
    <tr>
        <td><a href="{{ url_for('order_line', id=o.orders_id) }}">{{i.name}}</a></td>
        <td>{{o.status}}</td>
        <td>{{o.date.strftime('%b.%d %H:%M')}}</td>
        <td>{{'{0:,}'.format(o.total)}} تومان</td>
    </tr>
    {% endfor %}
  </table>
<br>
{% endif %}
{% endblock %}
