{% extends 'base.html' %}
{% block header %}Orders List{% endblock %}
{% block content %}
<table >
    <tr>      
        <th>سفارش</th>
        <th>وضعیت پرداخت</th>
        <th>تاریخ ایجاد سفارش</th>
        <th>آخرین به روزرسانی</th>
        <th>جمع کل</th>
    </tr>
    {% for i,a,c in zip(user,orders,cart) %}
    <tr>
        <td><a href="{{ url_for('order_line', id=a.id) }}">{{i.name}}</a></td>
        <td>{{a.status}}</td>
        <td>{{a.date.strftime('%b.%d %H:%M')}}</td>
        <td>{{c.date.strftime('%b.%d %H:%M')}}</td>
        <td>{{ '{0:,}'.format(c.total) }} تومان</td>
    </td>
    {% endfor %}
    </tr>
  </table>
<br>
{% endblock %}