{% extends 'base.html' %}
{% block header %}جزئیات سفارش{% endblock %}
{% block content %}
<table >
    <tr>
        <th>محصول</th>
        <th>تعداد</th>
        <th>قیمت</th>
        <th>جمع قیمت</th>
    </tr>
    {% for p,i in zip(product, number) %}
    <tr>
        <td style="text-align: right;">
            <img class="card-img-top" src="{{p.photo}}" style="width: 40px; height: 40px;">
            <a href="{{url_for('product_detail', id=p.id)}}">
            {{p.title}}
            </a>
        </td>
        <td>
        {{i}} عدد
        </td>
        <td>
            {% if p.discounted %}
            {{'{0:,}'.format(p.discounted)}} تومان
            {% else %}
            {{ '{0:,}'.format(p.price)}} تومان
            {% endif %}
        </td>
        <td>
            {% if p.discounted %}
            {% set total = i * p.discounted %}
            {% else %}
            {% set total = i * p.price %}
            {% endif %}
            {{'{0:,}'.format(total)}} تومان
        </td>
    </td>
    {% endfor %}
</tr>
</table>
<div class="user-info" dir="rtl">
    <a style="float: left;"><b>مبلغ کل :{{'{0:,}'.format(order.total)}} تومان </b></a>
<br>
<hr>
   <p>
    <b>روش پرداخت :</b>
    {{order.payment_method}}
   </p>
   <p>
       <b>وضعیت پرداخت :</b>
       {{order.status}}
    </p>
    <p>
        <b>تاریخ ثبت پرداخت:</b>
        {% if not order.start_payment_date %}
        {{order.status}}
        {% else %}
        {{ JalaliDateTime(order.start_payment_date).strftime('%m/%d - %H:%M:%S') }}
        {% endif %}
   </p>
   <p>
    <b>تاریخ تکمیل پرداخت:</b>
        {% if not order.finish_payment_date %}
        {{order.status}}
        {% else %}
        {{ JalaliDateTime(order.finish_payment_date).strftime('%m/%d - %H:%M:%S') }}
        {% endif %}

    </p>
    <hr>
       <p>نام و نام خانوادگی: {{order.name}}</p>
       <p>شهر : {{order.city}}</p>
       <p>آدرس : {{order.address}}</p>
       <p>تلفن: {{order.phone}}</p>
       <p>ایمیل: {{order.email}}</p>
</div>
<br>
{% endblock %}
