{% extends 'base.html' %}
{% block header %}Product Details{% endblock %}
{% block content %}
<body>
  <main class="container">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img src="{{product.photo}}" class="img-detail" 
      style="width:500px;height:500px;">
    </div>
    <!-- Right Column -->
    <div class="right-column">
      <!-- Product Description -->
      <div class="product-description">
        <h1>{{product.title}}</h1>
        <p> <b>Inventory :</b> {{product.inventory}}</p>
        {% if product.sold is none %}
        <p> <b>Sold Number :</b> 0</p>
        {% else %}
        <p> <b>Sold Number :</b> {{product.sold}}</p>
        {% endif %} 
      </div>
      <!-- Product Pricing -->
      <div class="product-price">
        <span><b>Price: </b><del>${{product.price}}</del></span>
        <span><b>Discounted: ${{product.discounted}}</b></span>
        <a href="{{url_for('cart', title=product.title)}}"
          class="btn btn-primary">Add To Cart</a>
      </div>
      <hr>
      <div>
      {% for i in gallery %}
      {% if i.p_id == product.id %}
      <img src="{{i.pics}}" 
      style="width:130px;height:130px;;margin:5px">
      {% endif %}
      {% endfor %}
    </div>
    </div>
  </main>
  </html>    
  {% endblock %}
</body>