{% extends 'base.html' %}
{% block header %}جزئیات محصول{% endblock %}
{% block content %}
<body>
  <main class="container">
    <!-- right Column / Image and gallery -->
    <div class="left-column">
      <img src="{{product.photo}}" class="img-detail"style="width:400px;height:400px;">
      <div style="margin-right: 35px;text-align: right;">
      {% for i in gallery %}
      {% if i.p_id == product.id %}
      <img src="{{i.pics}}"
      style="width:130px;height:130px;;margin:5px">
      {% endif %}
      {% endfor %}
      </div>
    </div>
    <!-- left Column -->
    <div class="right-column">
      <div class="product-description">
        <h1>{{product.title}}</h1>
        <p>دسته بندی: {{category.name}}</p>
        <p>موجودی : {{product.inventory}} عدد</p>
        <p> امتیاز محصول : {{product.rate}} امتیاز</p>
        <!-- product rate icons -->
      <p>به این محصول امتیاز دهید:</p>
        <a href="{{ url_for('reduce_rate', id=product.id) }}">
        <span style="font-size: 20px;"class="material-icons">&#xe8db;</span></a>
        <a href="{{ url_for('add_rate', id=product.id) }}">
        <span style="font-size: 20px;"class="material-icons">&#xe8dc;</span></a>
        <!-- short description -->
        <p>{{product.short_desc}}</p>
      </div>
      <!-- Product Pricing -->
      <div class="product-price">
        {% if product.inventory == 0 %}
        <span style="color:red;">موجود نیست</span>
        {% else %}
        {% if product.discounted %}
        <span><b><del>{{'{0:,}'.format(product.price | int)}} تومان</del></b></span>
        &nbsp; &nbsp;
        <span><b>{{'{0:,}'.format(product.discounted | int)}} تومان</b></span>
        {% else %}
        <span><b>{{'{0:,}'.format(product.price | int)}} تومان</b></span>
        {% endif %}
        {% endif %}
        &nbsp; &nbsp;
        <a href="{{url_for('cart', id=product.id)}}"class="btn btn-primary">افزودن به سبد خرید</a>
      </div>
      <hr>
      <!-- long description -->
      <p style="color: rgb(92, 92, 92);">{{product.desc}}</p>
      </div>
    </main>
  {% endblock %}
</body>
